<div class="container-user-information">
  <h3 class="title">Información Detallada</h3>
  <p-panel header="Detalles De Usuario">
    <button
      routerLink="/home"
      class="p-button-text ui-button"
      pButton
    >
      <i class="pi pi-arrow-left back-icon"></i>
      <span class="back-text">Regresar</span>
    </button>
    <ng-container *ngIf="userInformation">
      <div class="panel-container">
        <div class="basic-information-card">
          <p-card>
            <ng-template class="title-card" pTemplate="title" >
              Información Basica
            </ng-template>
            <ng-template pTemplate="content">
              <ul>
                <li><b>ID:</b> {{ userInformation.id }}</li>
                <li><b>Nombre:</b> {{ userInformation.name }}</li>
                <li><b>Username:</b> {{ userInformation.username }}</li>
                <li><b>Email:</b> {{ userInformation.email }}</li>
              </ul>
            </ng-template>
          </p-card>
        </div>
        <div class="address-card">
          <p-card>
            <ng-template pTemplate="title" >
              Dirección
            </ng-template>
            <ng-template pTemplate="content">
              <ul>
                <li><b>Calle:</b> {{ userInformation.address.street }}</li>
                <li><b>Suite:</b> {{ userInformation.address.suite }}</li>
                <li><b>Ciudad:</b> {{ userInformation.address.city }}</li>
                <li><b>Código Postal:</b> {{ userInformation.address.zipcode }}</li>
              </ul>
            </ng-template>
          </p-card>
        </div>
        <div class="company-card">
          <p-card class="height">
            <ng-template pTemplate="title">
              Compañia
            </ng-template>
            <ng-template pTemplate="content">
              <ul>
                <li><b>Nombre:</b> {{ userInformation.company.name }}</li>
                <li><b>Catch Phrase:</b> {{ userInformation.company.catchPhrase }}</li>
              </ul>
            </ng-template>
          </p-card>
        </div>
      </div>
    </ng-container>
    <span *ngIf="!userInformation" class="text-center">No Hay Información Disponible</span>
  </p-panel>
</div>
